<footer class="fixed-bottom">
  <div class="container">
    <div class="d-flex flex-row justify-content-center">
      <h2>Contato</h2>
    </div>
    <div class="row">
        <section class="formulario col-md-6">
          <h2>Envie uma mensagem!</h2>
          <div class="contact-form">
            <form action="https://api.staticforms.xyz/submit" method="post">
              <label>Nome</label>
              <input type="text" name="name" placeholder="Seu nome aqui..." autocomplete="off">
              <label>Email</label>
              <input type="email" name="email" placeholder="Seu email aqui..." autocomplete="off">
              <label>Mensagem</label>
              <textarea name="message" placeholder="Sua mensagem aqui..."></textarea>
              <button type="submit" class="btn btn-warning">ENVIAR</button>
              <input type="hidden" name="accessKey" value="c132a9a5-5ebd-4a1f-9cce-d59b167cc53a">
              <input type="hidden" name="redirectTo" value="http://localhost:4200/obrigado">
            </form>
          </div>
        </section>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
</footer>
