<footer>
  <div class="container">
    <div class="d-flex flex-row justify-content-center py-2">
      <h2>Fala Comigo</h2>
    </div>
    <div class="row">
        <section class="formulario col-lg-5">
          <h2>Envie uma mensagem!</h2>
          <div class="contact-form">
            <form action="https://api.staticforms.xyz/submit" method="post">
              <label>Nome</label>
              <input type="text" name="name" placeholder="Seu nome aqui..." autocomplete="off">
              <label>Email</label>
              <input type="email" name="email" placeholder="Seu email aqui..." autocomplete="off">
              <label>Mensagem</label>
              <textarea name="message" placeholder="Sua mensagem aqui..."></textarea>
              <button type="submit" class="btn btn-warning">ENVIAR</button>
              <input type="hidden" name="accessKey" value="c132a9a5-5ebd-4a1f-9cce-d59b167cc53a">
              <input type="hidden" name="redirectTo" value="#">
            </form>
          </div>
        </section>
        <section class="sociais col-lg-4">
            <h2>Contato</h2>
            <div class="contact-icons">
              <div><i class="bi bi-geo-alt-fill"></i>     Tupanciretã - RS</div>
              <div><i class="bi bi-envelope-open-fill"></i>     contato&#64;marciodavid.com</div>
              <div><i class="bi bi-phone-fill"></i>     (55)9 9711-6476</div>
            </div>
        </section>
        <section class="sociais col-lg-3">
            <h2>Redes Sociais</h2>
            <div class="social-icons">
              <a href="https://www.instagram.com/o_marciodavid/" target="_blank"  title="Instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/marcio.david.754" target="_blank" title="Facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://wa.link/fyvd8f" target="_blank" title="WhatsApp"><i class="bi bi-whatsapp"></i></a>
              <a href="https://www.linkedin.com/in/marcio-david-a8152733/" target="_blank" title="Linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="https://github.com/MarcioDavid81" target="_blank" title="GitHub"><i class="bi bi-github"></i></a>
            </div>
        </section>
      </div>
    </div>
</footer>
<div class="copyrigth">
    <div class="direitos">
      <p>&copy; 2024 - Todos os direitos reservados</p>
    </div>
    <div class="powered">
      <p>Powered by Marcio David - Web Developer</p>
    </div>
</div>
