
footer{
  background-color: #242734;
  color: white;
  font-family: var(--secondary-font);
  padding-bottom: 20px;
}

/*Form style*/
section.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323647;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  h2{
    color: #FBBB2F;
    font-size: 1.5rem;
  }

  .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 100%;

    label{
      color: white;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    input{
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      outline: none;
      border-radius: 5px;
      transition: 0.3s;

      &:focus{
        border-radius: 16px;
      }
    }

    textarea{
      padding: 10px;
      margin-bottom: 50px;
      border: none;
      outline: none;
      border-radius: 5px;
      transition: 0.3s;
      max-height: 100px;
      resize: none;

      &:focus{
        border-radius: 16px;
      }
    }

    button{
      padding: 10px;
      background-color: transparent;
      color: #FBBB2F;
      font-family: var(--primary-font);
      font-size: 1.2rem;
      font-weight: bold;
      border: 1px solid #FBBB2F;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover{
        background-color: #FBBB2F;
        color: #242734;
        border-radius: 16px;
      }
    }

  }
}

section.sociais{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px;

  h2{
    color: #FBBB2F;
    font-size: 1.5rem;
  }

  a{
    text-decoration: none;
    color: white;
  }

  i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      color: #FBBB2F;
    }
  }

}

.contact-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.social-icons{
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.copyrigth{
  display: flex;
  background-color: #000000;
  color: white;
  font-size: 0.8rem;
  font-family: var(--secondary-font);
  justify-content: space-around;

  p{
    margin: 1px;
  }
}

@media (width < 768px){
  section.sociais{
    padding: 10px;
    align-items: center;

    .contact-icons{
      align-items: center;
      padding: 30px 0;
    }

    .social-icons{
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 100%;
      margin-top: 20px;
    }
  }
  .copyrigth{
    font-size: 0.6rem;

  }
}



